.conctactos-section{
    display: grid;
    margin: 30px;
    grid-template-areas: 
    "Titulo Titulo"
    "Icono Horarios"
    "Mapa formulario";
}
.contactos-titulo{
    grid-area: Titulo;
    text-align: center;
}
.contactos-horarios{
    display: flex;
    justify-content: space-between;
}
.FormContancto{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.FormContancto section{
    display: flex;
    margin: 10px;
    flex-direction: column;
}
.FormContancto section input{
    width: 100%;
    height: 100%;
}
.mapa{
    height: 250px;
    width: auto;
    margin: 10px 10px 10px;
}
